<div class="container">
  <%= simple_form_for @flat do |f| %>
    <%= f.input :title %>
    <%= f.input :description, as: :text, input_html: { rows: 5 } %>
    <%= f.input :address %>
    <%= f.input :price_per_night_dollars, label: "Price per night in dollars" %>
    <%= f.input :number_of_bathrooms %>
    <%= f.input :number_of_beds %>
    <%= f.input :guests_limit %>
    <%= f.input :property_type, collection: Flat::PROPERTY_TYPES, prompt: "Select a property type" %>

    <div class="form-actions">
      <%= f.button :submit, class: "btn btn-primary me-1" %>
      <%= link_to "Cancel request", root_path, class: "btn btn-danger" %>
    </div>
  <% end %>
</div>
